<div class="add-person">
    <div class="add-person-input">
        <label>Full Name: <input type="text" #fullName></label>
        <label>Email: <input type="email" #email></label>
        <label>Birthday: <input type="text" #birthday></label>
        <label>Zipcode: <input type="text" #zipcode></label>
    </div>
    <button class="button" (click)="addPerson(fullName.value, email.value, birthday.value, zipcode.value); fullName.value=''; email.value=''; birthday.value=''; zipcode.value=''">
        + Add Person
    </button>
</div>
<table>
    <tr>
        <th class="sortable" (click)="sortable()">Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Zipcode</th>
        <th>Delete?</th>
    </tr>
    <tbody>
    <tr *ngFor="let person of people">
        <td>{{person.fullName}}</td>
        <td>{{person.email}}</td>
        <td>{{person.birthday}}</td>
        <td>{{person.zipcode}}</td>
        <td><button class="button" (click)="deletePerson(person)">Delete</button></td>
    </tr>
    </tbody>
</table>
