th {
    width: 20%;
}

th:hover {
    cursor: pointer;
}

table {
    margin: 0 auto;
}

tr, th, td {
    padding: 10px;
}

.add-person {
    padding-bottom: 20px;
    text-align: center;
}

.add-person-input {
    display: inline-block;
}

.add-person-input label {
    padding: 0 15px;
}

.add-person-input input {
    padding: 5px;
}

.button {
    display: block;
    margin: 20px auto;
    text-align: center;
}


.sortable {
    position: relative;
}

.sortable::after {
    content: '';
    border: 6px solid transparent;
    border-bottom-color: black;
    display: inline-block;
    position: absolute;
    top: 15%;
    right: 5%;
}
